.header {
  background-color: #1565c0;
  font-family: 'Roboto';
  color: #000;
}

.nav-list {
  display: flex;
  height: 100%;
  text-align: center;
}

.nav-list-item {
  margin: .67em
}

.nav-list-link {
  color: #F1F1F1;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: 150ms ease-in;
}

.nav-list-link:hover, .nav-list-link:focus {
  color: #ffb300;
}

.title {
  color: #F1F1F1  ;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  margin: .5em auto;
}

.title-icon {
  font-size: .9em;
  font-weight: 100;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
